.card{
    border-radius: 20px ;
    --ion-background-color:#49b5e8;
  }
  
  span{
    color:white;
    font-weight: 300;
  }
  #temp{
    font-weight: 300;
    font-size: 4em;
    margin:5px;
  }
  #icon{
    color:#f0d24f;
  }